:root{
    /*VARIÁVEL CSS*/
    --PRINCIPAL-cinza:#f2f2f2;
    --SECUNDARIO-preto:#3e3e3e;
    --TERCIARIO-cinzinha:#666;
    --FONTDESTAQUE:Georgia;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#3e3e3e;
}

.corpo {
    max-width: 800px;
    margin: 20px auto;
    background-color: var(--PRINCIPAL-cinza);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--SECUNDARIO-preto);
}

#title {
    align-items: center;
    text-align: center;
}

.bio {
    display: flex;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
}


h1, h3 {
    color: var(--SECUNDARIO-preto);
    font-weight: 820;
    font-size: 2em;
    font-style: oblique;
    font-stretch:extra-condensed;
    font-family: var(--FONTDESTAQUE);
}

p {
    color: var(--TERCIARIO-cinzinha);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  span{
    color:#f2f2f2;
    margin-left: 20px;
  }
  .sidenav {
    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }